<form #loginForm="ngForm">

  <p *ngIf="error">
    Identifiants invalide
  </p>

  <input type="password" name="password" placeholder="Password" [(ngModel)]="credentials.password" required>

  <button type="submit" (click)="authenticate()" [disabled]="loginForm.invalid">
    Se connecter
  </button>

  <a href="https://id.gandi.net/authorize?client_id=47295d3c-3a20-11ea-b990-00163e86cdc0&redirect_uri=https://5e2359489595d30008bb2209--alias-gandi-angular.netlify.com/callback/gandi">
    Gandi oauth2 login
  </a>

</form>
