<form #loginForm="ngForm">
  <p *ngIf="error">
    Identifiants invalide
  </p>

  <fieldset>
    <legend>Please login</legend>

    <div class="form-group">
      <label for="provider">Provider</label>
      <select
        id="provider"
        name="provider"
        [(ngModel)]="credentials.provider"
        required
      >
        <option selected disabled value>Select a provider</option>
        <option value="gandi">Gandi</option>
      </select>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="credentials.password"
        required
      />
    </div>

    <div class="form-group">
      <button
        type="submit"
        (click)="authenticate()"
        [disabled]="loginForm.invalid"
      >
        Se connecter
      </button>
    </div>
  </fieldset>
</form>
