<form #loginForm="ngForm">

  <p *ngIf="error">
    Identifiants invalide
  </p>

  <input type="password" name="password" placeholder="Password" [(ngModel)]="credentials.password" required>

  <button type="submit" (click)="authenticate()" [disabled]="loginForm.invalid">
    Se connecter
  </button>


  <ng-container *ngFor="let conf of oauthProviders">
    <a
      href="{{ conf.url }}?response_type={{conf.response_type}}&client_id={{conf.client_id}}&redirect_uri={{conf.redirect_uri}}">
      {{conf.name}}
    </a>
  </ng-container>


</form>
