<h1>Email aliases</h1>

<ng-container *ngIf="!isLogged">
  <app-login></app-login>
</ng-container>

<mat-progress-bar
  mode="indeterminate"
  *ngIf="domains === null"
></mat-progress-bar>

<ng-container *ngIf="isLogged">
  <ng-container *ngFor="let domain of domains">
    <div>
      <h2>
        {{ domain.getName() | uppercase }}
      </h2>
      <small>{{ domain.getMailboxes().length }} mailbox(es)</small>
      <ng-container *ngIf="domain.getMailboxes().length > 0">
        <ng-container *ngFor="let mailbox of domain.getMailboxes()">
          <p>
            <button
              [routerLink]="['/mailbox', domain.getName(), mailbox.getId()]"
            >
              <span>{{ mailbox.getLabel() }}</span>
            </button>
          </p>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
