.container {
  @media screen and (max-width: 640px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media screen and (min-width: 640px) {
      height: 60vw;
      width: 70vw;
  }

  margin: auto;
}
