<div class="container">
  <button
    id="menuButton"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <router-outlet></router-outlet>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/home']">
    <mat-icon aria-hidden="false" aria-label="Home icon">home</mat-icon>
    <span>Home</span>
  </button>
  <button
    mat-menu-item
    mat-raised-button
    color="accent"
    color="warn"
    (click)="logout()"
    *ngIf="isLogged"
  >
    <span>Logout</span>
  </button>
</mat-menu>
