nav {
  text-align: center;
  width: 60vw;
  margin: auto;
  height: 20vw;
  a {
    padding-left: 20px;
    mat-icon {
      vertical-align: middle;
    }
  }
}

.container {
  height: 40vw;
  width: 60vw;
  margin: auto;
}
