<textarea>{{ mailbox | json }}</textarea>

<table>
  <thead>
    <tr>
      <th>Alias</th>
      <th>Real Address</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alias of mailbox.aliases">
      <td>{{ alias }}</td>
      <td>{{ mailbox.address }}</td>
      <td>
        <button (click)='delete(alias)'>Delete</button>
      </td>
    </tr>
    <tr>
      <td>
        <input [(ngModel)]="this.newAlias" type="text">
      </td>
      <td>{{ mailbox.address }}</td>
      <td>{{ mailbox.domain }}</td>
      <td>
          <button (click)='add(newAlias)'>Add</button>
        </td>
    </tr>
  </tbody>
</table>

<hr />
