<mat-progress-bar
  mode="indeterminate"
  *ngIf="mailbox === null"
></mat-progress-bar>

<section *ngIf="mailbox != null">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ mailbox.address }}
        </mat-panel-title>
        <mat-panel-description>
          {{ mailbox.aliases.length }} Alias(es)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-card *ngFor="let alias of mailbox.aliases">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ alias }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button (click)="delete(alias)">
            <mat-icon aria-hidden="false" aria-label="Delete"
              >delete_forever</mat-icon
            >
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>

  <input mapInput [(ngModel)]="this.newAlias" type="text" />
  <button mat-button (click)="add(newAlias)">Add</button>
</section>
