<mat-progress-bar mode="indeterminate" *ngIf='mailbox === null'></mat-progress-bar>

<ng-container *ngIf='mailbox != null'>

  <hr />
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ mailbox.address }}
        </mat-panel-title>
        <mat-panel-description>
          {{ mailbox.aliases.length }} alias(es)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-card *ngFor="let alias of mailbox.aliases">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ alias }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button (click)='delete(alias)'>DELETE</button>
        </mat-card-actions>
      </mat-card>
      <input mapInput [(ngModel)]="this.newAlias" type="text">
      <button mat-button (click)='add(newAlias)'>Add</button>

    </mat-expansion-panel>

  </mat-accordion>
</ng-container>
