<mat-progress-bar
  mode="indeterminate"
  *ngIf="mailbox === null"
></mat-progress-bar>

<section *ngIf="mailbox != null">
  <ul>
    <li>Double click on delete icon to delete entry</li>
    <li>Use copy icon to copy to clipboard</li>
    <li>
      A randomly generated alias is available for quick use, edit it if you want
      and click add to update your aliases list.
    </li>
  </ul>

  <h3>{{ mailbox.getLabel() }}</h3>
  <table *ngIf="mailbox.getAliases().length > 0">
    <caption>
      {{
        mailbox.getAliases().length
      }}
      Alias(es)
    </caption>
    <thead>
      <tr>
        <th scope="col">Alias</th>
        <th scope="col">Copy</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alias of mailbox.getAliases()">
        <th scope="row">{{ alias }}</th>
        <td>
          <button mat-button [appCopyClipboard]="getAliasEmail(alias)">
            <mat-icon aria-hidden="false" aria-label="Delete"
              >file_copy</mat-icon
            >
          </button>
        </td>
        <td>
          <button mat-button (dblclick)="delete(alias)">
            <mat-icon aria-hidden="false" aria-label="Delete"
              >delete_forever</mat-icon
            >
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <input mapInput [(ngModel)]="this.newAlias" type="text" />
  <button mat-button (click)="add(newAlias)">Add alias</button>
</section>
